@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

.Detail {
	.content {
		.back {
			position: relative;
			p {
				position: absolute;
				top: -30px;
				right: 10px;
				font: 18px /1 'arial';
				transition: 0.3s;

				&:hover {
					color: red;
				}
			}
		}

		.con {
			.vidBox {
				width: 100%;
				height: 60vh;

				iframe {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			h2 {
				font: bold 30px/1.2 'Nanum Myeongjo';
				color: #222;
				margin-bottom: 15px;
			}

			p {
				font: normal 16px/1.5 'arial';
			}
		}
	}
}
