@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

.Members {
	figure {
		background-image: url('../../../../public/img/members.jpg');
		background-size: cover;
		background-position: top 45% center;
	}
	.content {
		table {
			width: 70%;
			float: right;
			border: none;

			th {
				width: 20%;
				border: none;
				padding: 15px 30px;
				text-align: left;
				font: bold 18px/1 'Nanum Myeongjo';

				&:last-child {
					text-align: center;

					input[type='submit'],
					input[type='reset'] {
						border: 1px solid #aaa;
						width: 15%;
						height: 30px;
						display: inline-flex;
						justify-content: center;
						align-items: center;
						margin: 0px 10px;
						cursor: pointer;
					}
				}
			}

			td {
				border: none;
				padding: 15px 30px;

				input[type='text'],
				input[type='password'] {
					width: 70%;
					padding: 6px 10px;
					background-color: transparent;
					border: none;
					border-bottom: 2px solid #333;
					font: 16px/1.3 'airal';

					&:focus {
						outline: none;
					}
				}

				label {
					font: 16px/1 'arial';
					color: #444;
					margin-right: 5px;
				}

				input[type='radio'],
				input[type='checkbox'] {
					margin-right: 20px;
				}

				textarea {
					width: 70%;
					padding: 6px 10px;
					background-color: transparent;
					border: none;
					border-bottom: 2px solid #333;
					resize: none;

					&:focus {
						outline: none;
					}
				}

				p {
					font: 0.8rem/1.2 '돋움';
					color: red;
					margin-top: 5px;
				}
			}
		}
	}
}
