@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

.news {
	width: 100%;
	height: 100vh;
	padding: 10vw;

	h2 {
		font: bold 40px/1.2 'Nanum Myeongjo';
		margin-bottom: 30px;
	}

	.postWrap {
		width: 100%;
		display: flex;
		justify-content: space-between;

		article {
			width: 30%;
			height: auto;
			padding: 20px;
			background-color: #fff;
			transition: 0.3s;
			cursor: pointer;
			border-top: 2px solid #111;
			border-bottom: 2px solid #111;
			//border-radius: 15px;
			box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);

			h2 {
				font-size: 30px;
				transition: 0.3s;
			}

			p {
				font: 14px/1.3 'arial';
			}

			&:hover {
				transform: scale(1.03);

				h2 {
					color: rgb(176, 59, 59);
				}
			}
		}
	}
}
